:root {
  --font-display-large-font-size: 62px;
  --font-display-large-text-decoration: none;
  --font-display-large-font-family: Inter;
  --font-display-large-font-weight: 400;
  --font-display-large-font-style: normal;
  --font-display-large-font-stretch: normal;
  --font-display-large-letter-spacing: -2.17px;
  --font-display-large-line-height: 93px;
  --font-display-large-paragraph-indent: 0px;
  --font-display-large-paragraph-spacing: 0px;
  --font-display-large-text-case: none;
  --font-display-medium-font-size: 56px;
  --font-display-medium-text-decoration: none;
  --font-display-medium-font-family: Inter;
  --font-display-medium-font-weight: 400;
  --font-display-medium-font-style: normal;
  --font-display-medium-font-stretch: normal;
  --font-display-medium-letter-spacing: -1.96px;
  --font-display-medium-line-height: 84px;
  --font-display-medium-paragraph-indent: 0px;
  --font-display-medium-paragraph-spacing: 0px;
  --font-display-medium-text-case: none;
  --font-display-small-font-size: 45px;
  --font-display-small-text-decoration: none;
  --font-display-small-font-family: Inter;
  --font-display-small-font-weight: 400;
  --font-display-small-font-style: normal;
  --font-display-small-font-stretch: normal;
  --font-display-small-letter-spacing: -1.125px;
  --font-display-small-line-height: 67.5px;
  --font-display-small-paragraph-indent: 0px;
  --font-display-small-paragraph-spacing: 0px;
  --font-display-small-text-case: none;
  --font-headline-large-font-size: 38px;
  --font-headline-large-text-decoration: none;
  --font-headline-large-font-family: Inter;
  --font-headline-large-font-weight: 400;
  --font-headline-large-font-style: normal;
  --font-headline-large-font-stretch: normal;
  --font-headline-large-letter-spacing: -0.684px;
  --font-headline-large-line-height: 57px;
  --font-headline-large-paragraph-indent: 0px;
  --font-headline-large-paragraph-spacing: 0px;
  --font-headline-large-text-case: none;
  --font-headline-medium-font-size: 32px;
  --font-headline-medium-text-decoration: none;
  --font-headline-medium-font-family: Inter;
  --font-headline-medium-font-weight: 500;
  --font-headline-medium-font-style: normal;
  --font-headline-medium-font-stretch: normal;
  --font-headline-medium-letter-spacing: -0.576px;
  --font-headline-medium-line-height: 48px;
  --font-headline-medium-paragraph-indent: 0px;
  --font-headline-medium-paragraph-spacing: 0px;
  --font-headline-medium-text-case: none;
  --font-headline-small-font-size: 28px;
  --font-headline-small-text-decoration: none;
  --font-headline-small-font-family: Inter;
  --font-headline-small-font-weight: 500;
  --font-headline-small-font-style: normal;
  --font-headline-small-font-stretch: normal;
  --font-headline-small-letter-spacing: -0.336px;
  --font-headline-small-line-height: 42px;
  --font-headline-small-paragraph-indent: 0px;
  --font-headline-small-paragraph-spacing: 0px;
  --font-headline-small-text-case: none;
  --font-title-large-font-size: 24px;
  --font-title-large-text-decoration: none;
  --font-title-large-font-family: Inter;
  --font-title-large-font-weight: 500;
  --font-title-large-font-style: normal;
  --font-title-large-font-stretch: normal;
  --font-title-large-letter-spacing: -0.36px;
  --font-title-large-line-height: 36px;
  --font-title-large-paragraph-indent: 0px;
  --font-title-large-paragraph-spacing: 0px;
  --font-title-large-text-case: none;
  --font-title-medium-font-size: 22px;
  --font-title-medium-text-decoration: none;
  --font-title-medium-font-family: Inter;
  --font-title-medium-font-weight: 500;
  --font-title-medium-font-style: normal;
  --font-title-medium-font-stretch: normal;
  --font-title-medium-letter-spacing: -0.33px;
  --font-title-medium-line-height: 33px;
  --font-title-medium-paragraph-indent: 0px;
  --font-title-medium-paragraph-spacing: 0px;
  --font-title-medium-text-case: none;
  --font-title-small-font-size: 20px;
  --font-title-small-text-decoration: none;
  --font-title-small-font-family: Inter;
  --font-title-small-font-weight: 500;
  --font-title-small-font-style: normal;
  --font-title-small-font-stretch: normal;
  --font-title-small-letter-spacing: -0.24px;
  --font-title-small-line-height: 30px;
  --font-title-small-paragraph-indent: 0px;
  --font-title-small-paragraph-spacing: 0px;
  --font-title-small-text-case: none;
  --font-body-large-font-size: 18px;
  --font-body-large-text-decoration: none;
  --font-body-large-font-family: Inter;
  --font-body-large-font-weight: 500;
  --font-body-large-font-style: normal;
  --font-body-large-font-stretch: normal;
  --font-body-large-letter-spacing: -0.216px;
  --font-body-large-line-height: 27px;
  --font-body-large-paragraph-indent: 0px;
  --font-body-large-paragraph-spacing: 0px;
  --font-body-large-text-case: none;
  --font-body-medium-font-size: 16px;
  --font-body-medium-text-decoration: none;
  --font-body-medium-font-family: Inter;
  --font-body-medium-font-weight: 500;
  --font-body-medium-font-style: normal;
  --font-body-medium-font-stretch: normal;
  --font-body-medium-letter-spacing: -0.16px;
  --font-body-medium-line-height: 24px;
  --font-body-medium-paragraph-indent: 0px;
  --font-body-medium-paragraph-spacing: 0px;
  --font-body-medium-text-case: none;
  --font-body-small-font-size: 14px;
  --font-body-small-text-decoration: none;
  --font-body-small-font-family: Inter;
  --font-body-small-font-weight: 500;
  --font-body-small-font-style: normal;
  --font-body-small-font-stretch: normal;
  --font-body-small-letter-spacing: -0.14px;
  --font-body-small-line-height: 21px;
  --font-body-small-paragraph-indent: 0px;
  --font-body-small-paragraph-spacing: 0px;
  --font-body-small-text-case: none;
  --font-label-large-font-size: 12px;
  --font-label-large-text-decoration: none;
  --font-label-large-font-family: Inter;
  --font-label-large-font-weight: 500;
  --font-label-large-font-style: normal;
  --font-label-large-font-stretch: normal;
  --font-label-large-letter-spacing: -0.12px;
  --font-label-large-line-height: 18px;
  --font-label-large-paragraph-indent: 0px;
  --font-label-large-paragraph-spacing: 0px;
  --font-label-large-text-case: none;
  --font-label-medium-font-size: 10px;
  --font-label-medium-text-decoration: none;
  --font-label-medium-font-family: Inter;
  --font-label-medium-font-weight: 500;
  --font-label-medium-font-style: normal;
  --font-label-medium-font-stretch: normal;
  --font-label-medium-letter-spacing: -0.1px;
  --font-label-medium-line-height: 15px;
  --font-label-medium-paragraph-indent: 0px;
  --font-label-medium-paragraph-spacing: 0px;
  --font-label-medium-text-case: none;
  --font-label-small-font-size: 8px;
  --font-label-small-text-decoration: none;
  --font-label-small-font-family: Inter;
  --font-label-small-font-weight: 500;
  --font-label-small-font-style: normal;
  --font-label-small-font-stretch: normal;
  --font-label-small-letter-spacing: -0.04px;
  --font-label-small-line-height: 12px;
  --font-label-small-paragraph-indent: 0px;
  --font-label-small-paragraph-spacing: 0px;
  --font-label-small-text-case: none;
}